@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap");

/* font-family: 'DM Sans', sans-serif;
font-family: 'Poppins', sans-serif; */

/* * {
  border: 1px solid red;
} */

:root {
  --black: #171718;
  --black-border: #171718;
  --white: #fff;
  --purple: #5c62ec;
}

html,
body {
  letter-spacing: -0.5px;
  font-family: "DM Sans", sans-serif;
}

/* nav start  */
.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 15px;
}

.nav {
  padding: 20px 0;
  background-color: #171718;
  color: white;
  border-bottom: 1px solid #262920;
  letter-spacing: normal;
}

.nav-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
  row-gap: 20px;
  flex-wrap: wrap;
}

.logo {
  color: white;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
}

.logo strong {
  font-weight: 700;
}

.nav-list {
  display: flex;
  align-items: center;
  column-gap: 40px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.nav-list__link {
  color: white;
}

.nav-list__link:hover {
  border-bottom: 3px solid blue;
}
/* nav end  */

/* header start  */
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  min-height: 695px;
  padding: 40px 0;
  background-color: #171718;
  color: white;
}

.header__img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
    animation: back-ani 5s infinite alternate;
}

.back__img {
  border-radius: 50%;
    animation: back-ani 5s infinite alternate;
}

@keyframes back-ani {
  0%{
border-radius: 94% 6% 96% 4% / 2% 89% 11% 98%;
}
30%{
border-radius: 26% 74% 51% 49% / 54% 28% 72% 46%;
}
50%{
    border-radius: 56% 44% 65% 35% / 44% 44% 56% 56%:
}
80%{
    border-radius: 11% 22% 33% 70% / 88% 22% 100% 27%;
}
100%{
    border-radius: 64% 36% 82% 18% / 27% 67% 33% 73%;
}
}

.header__vrapper {
  padding: 0 15px;
  max-width: 660px;
}

.header__title {
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.4;
}

.header__title strong {
  font-size: 60px;
  font-weight: 700;
}

.header__title em {
  color: #5c62ec;
  font-style: normal;
  font-weight: 700;
}

.header__desc {
  font-size: 18px;
  line-height: 1.33;
  margin-bottom: 40px;
}

.btn {
  display: inline-block;
  height: 48px;
  padding: 12px 28px;
  border-radius: 5px;
  background-color: #5c62ec;
  color: white;
  font-size: 16px;
  font-weight: 500;
  transition: opacity 0.2s ease-in;
}

.btn:hover {
  opacity: 0.7;
}

.btn:active {
  height: 49px;
}
/* header end  */

/* projects start  */
.section {
  background-color: lightgray;
  padding: 70px 0;
  display: flex;
  justify-content: space-around;
}

.title-1 {
  margin-bottom: 60px;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.3;
  color: #5c62ec;
  text-align: center;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-self: ;
  column-gap: 30px;
  row-gap: 30px;
}

.project {
  max-width: 370px;
  background-color: white;
  border-radius: 10px;
}

.project__img {
  border-radius: 10px;
}

.project__title {
  padding: 15px 20px 25px;
  font-size: 24px;
  line-height: 1.3;
  font-weight: 700;
  color: #171718;
}
/* project end  */

/* footer :start */
.footer {
  background-color: #171718;
  padding: 60px 0 50px;
  color: white;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 27px;
}

.social {
  display: flex;
  column-gap: 30px;
  align-items: center;
}
/* footer end  */

/* project-page start */
.project-detail{
  display: flex;
  flex-direction: column;
align-items: center;
  margin: 0 auto;
  max-width: 865px;
}

.project_desc_cover{
  max-width: 100%;
  margin-bottom: 40px;
  box-shadow: 2px 5px 35px rgba(8, 8, 8, 0.033);
  border-radius: 10px;
}

.project__desc{
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.3;
}

.button_outline{
  display: flex;
  align-items: center;
justify-content: space-between;
flex-wrap: wrap;
  height: 58px;
  width: 22%;
  border-radius: 5px;
  padding: 12px 20px;
  border: 1px solid black;
  color: black;
  font-weight: 700;
  background-color: darkgray;
}
/* project end  */

/* skills start  */
.skills{
  background-color: darkgray;
  display: flex;
 flex-direction: column;
  align-items: start;
  width: 100%;
  max-width: 100%;
  padding: 0 20px;
  padding-bottom: 40px;
}

.skill{
 
  width: 50%;

}

.skill-name{
  font-size: 20px;
  font-weight: 700;
  color: black;
  text-transform: uppercase;
  margin: 20px 0;
}

.skill-bar{
  height: 14px;
  background: black;
  border-radius: 3px;
}

.skill-per{
  height: 14px;
  background: tomato;
  border-radius: 3px;
  position: relative;
   animation: ani-per 2.5s 1;
}

.skill-per::before {
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    background: white;
    border-radius: 4px;
    font-size: 12px;
    top: -20px;
    right: 0;
    transform: translateX(50%);
}

.skill-per::after {
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    background: white;
    right: 0;
    transform: translateX(50%) rotate(45deg);
    border-radius: 1px;
}

@keyframes ani-per {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}